<ion-header [translucent]="true" color="cream" class="ion-no-border h-[100px]">
  <ion-toolbar color="cream" class="!pt-[30px] h-[100px]">
    <ion-title mode="md" class="text-dark2 font-semibold text-[20px]">Eventos</ion-title>
    <ion-buttons slot="end" (click)="closeMenu()">
      <ion-button class="p-2 rounded-full flex items-center bg-white justify-center h-[54px] w-[54px]">
        <ion-icon size="large" name="close" class="text-black"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div *ngIf="events.length === 0" class="w-full h-full flex items-center justify-center">
    <p class="font-semibold text-[20px]">No hay eventos</p>
  </div>

  <div *ngIf="events.length !== 0">
    <div *ngFor="let event of events">
      <div class="flex flex-col gap-[50px]  w-full bg-[#f6f8fc] rounded-[32px] p-6  shadow-lg hover:shadow-2xl transition">

        <div class="flex justify-between">
          <div>
            <p class=""><span class="font-semibold text-[45px]">{{ numberDateFormat(event.startTime) }}</span><span class="font-semibold">
              {{ numberMonthFormat(event.startTime) }}
            </span></p>
            <p>{{ startFormat(event.startTime) }} - {{ endFormat(event.endTime) }}</p>
          </div>
     
          <ion-buttons slot="end" (click)="socialSharing(event)">
            <ion-button class="p-2 rounded-full flex items-center bg-dark2 justify-center h-[54px] w-[54px]">
              <ion-icon size="large" name="share-social" class="text-white"></ion-icon>
            </ion-button>
          </ion-buttons>
        </div>
    
        <div>
          <p class="font-semibold text-[20px]">{{ event.description.toUpperCase() }}</p>
          <div class="flex gap-2 items-center w-full">
            <div class="flex justify-between w-full items-center">
              <div class="flex gap-[5px] items-center">
                <ion-icon size="large" name="location"></ion-icon>
                <p class="font-medium text-[16px]">Paseo de las Hadas</p>
              </div>   
              
              <ion-chip (click)="launch(event)">
                Ubicación
              </ion-chip>
            </div>  
          </div>
        </div>
    
        <div>
          <img [src]="event.imageURL"  class="rounded-[32px]"/>
        </div>
      </div>
    
      <br>
    </div>
  </div>


</ion-content>
