<ion-header [translucent]="false" class="ion-no-border">
  <ion-toolbar color="white" class="mt-2">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon size="large" name="chevron-back-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title mode="ios">Recuperación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div>
    <h1 class="pt-4 pb-4 text-[18px] text-center">Para recuperar la contraseña es necesario que ingrese el correo con el cual se registro.</h1>
    <form [formGroup]="forgotPasswordForm" class="flex flex-col gap-4">
      <div>
        <ion-input labelPlacement="floating" mode="md" fill="outline" type="email" formControlName="email">
          <div slot="label">Correo</div>
        </ion-input>
        <div class="error-messages">
          <ng-container *ngFor="let error of errorMessages?.email">
            <div
              *ngIf="forgotPasswordForm.get('email')?.hasError(error.type) && (forgotPasswordForm.get('email')?.dirty || forgotPasswordForm.get('email')?.touched)"
            >
              {{ error.message | uppercase }}
            </div>
          </ng-container>
        </div>
      </div>
      <ion-button
        expand="block"
        color="medium"
        [disabled]="!forgotPasswordForm.valid"
        (click)="sendResetPasswordEmail()"
      >
        Recuperar
      </ion-button>
    </form>
  </div>
</ion-content>
