<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAfB2vhQmha5vFPmCVl3S4_Lz8RT8ciYrU</string>
	<key>GCM_SENDER_ID</key>
	<string>408737795385</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.trayectosIntelugentes.patoZambranoApp</string>
	<key>PROJECT_ID</key>
	<string>reportedirecto-dfbf6</string>
	<key>STORAGE_BUCKET</key>
	<string>reportedirecto-dfbf6.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:408737795385:ios:6ad6a75696bde3069e2ce8</string>
	<key>DATABASE_URL</key>
	<string>https://reportedirecto-dfbf6-default-rtdb.firebaseio.com</string>
</dict>
</plist>