<ion-header [translucent]="true" color="cream" class="ion-no-border h-[100px]">
  <ion-toolbar color="cream" class="!pt-[30px] h-[100px]">
    <ion-title mode="md" class="text-dark2 font-semibold text-[20px]">Configuración</ion-title>
    <ion-buttons slot="end" (click)="closeMenu()">
      <ion-button class="p-2 rounded-full flex items-center bg-white justify-center h-[54px] w-[54px]">
        <ion-icon size="large" name="close" class="text-black"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-item class="flex justify-center mb-2">
    <ion-label>Eliminacion de cuenta</ion-label>
    <ion-icon name="trash-outline" slot="end" (click)="openDeleteModal()" color="danger"></ion-icon>
  </ion-item>
</ion-content>


