<ion-header [translucent]="true" color="cream" class="ion-no-border h-[100px]">
  <ion-toolbar color="cream" class="!pt-[30px] h-[100px]">
    <ion-title mode="md" class="text-dark2 font-semibold text-[20px]">Voz Ciudadana</ion-title>
    <ion-buttons slot="end" (click)="openMenuModal()">
      <ion-button class="p-2 rounded-full flex items-center bg-white justify-center h-[54px] w-[54px]">
        <ion-icon size="large" name="menu" class="text-black"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <!-- Texto Principal -->
  <!--
  <div>
    <h1 class="font-bold text-[20px] text-[#333333] truncate">
      <span class="text-[#f38933]">P</span>or un futuro
    </h1>
    <h1 class="font-bold text-[20px] text-[#333333] truncate">
      Avancemos juntos
    </h1>
    <h1 class="font-bold text-[20px] text-[#333333] truncate">
      Transformemos nuestra ciudad
    </h1>
    <h1 class="font-bold text-[20px] text-[#333333] truncate">
      Orgullo de nuestra gente
    </h1>
</div>
-->

<h1 class="font-bold text-[45px] text-[#333333] truncate">
  Bienvenido
</h1>

  <br>
  <div class="flex gap-[5px] w-full">
    <div (click)="goMap()" class="w-[50%] h-[450px]">
      <div class="h-full w-full bg-white rounded-[32px] p-4  shadow-lg hover:shadow-2xl transition">
        <div class="h-full w-full flex flex-col items-center justify-center gap-2">
          <ion-icon name="map"  class="text-dark2 !text-[30px]"></ion-icon>
          <p class="font-semibold text-dark2 text-center m-0">Registro de Evidencia</p>
        </div>
        
      </div>
    </div>

    <div class="w-[50%] h-[450px]">
      <div class="h-full flex flex-col gap-[5px]">
        <div (click)="openProfileModal()" class="h-[150px] w-full bg-white rounded-[32px] p-4 flex items-center justify-center gap-3 shadow-lg hover:shadow-2xl transition">
          <div class="h-full w-full flex flex-col items-center justify-center gap-2">
            <ion-icon name="person"  class="text-dark2 !text-[30px]"></ion-icon>
            <p class="font-semibold text-dark2 text-center m-0">Perfil</p>
          </div>
        </div>
        <div (click)="openEvidenceModal()" class="h-[150px] w-full bg-white rounded-[32px] p-4 flex items-center justify-center gap-3 shadow-lg hover:shadow-2xl transition">
          <div class="h-full w-full flex flex-col items-center justify-center gap-2">
            <ion-icon name="document"  class="text-dark2 !text-[30px]"></ion-icon>
            <p class="font-semibold text-dark2 text-center m-0">Mis Evidencias</p>
          </div>
          
        </div>

        <div (click)="openEventsModal()" class="h-[150px] w-full bg-white rounded-[32px] p-4 flex items-center justify-center gap-3 shadow-lg hover:shadow-2xl transition">
          <div class="h-full w-full flex flex-col items-center justify-center gap-2">
            <ion-icon name="sparkles" class="text-dark2 !text-[30px]"></ion-icon>
            <p class="font-semibold text-dark2 text-center m-0">Eventos</p>
          </div>
          
        </div>
      </div>
    </div>
  </div>

  <div class="w-full h-[150px] mt-[10px]">
    <div class="h-full w-full bg-white rounded-[32px] p-4  shadow-lg hover:shadow-2xl transition" (click)="openTermsModal()">
      <div class="h-full w-full flex flex-col items-center justify-center gap-2">
        <ion-icon name="document-text" class="text-dark2 !text-[30px]"></ion-icon>
        <p class="font-semibold text-dark2 text-center m-0">Terminos y condiciones</p>
      </div>
      
    </div>
  </div>
  <!-- Menú con opciones -->
   <!--
  <div class="grid grid-cols-2 grid-rows-2 gap-4 mt-6">

    <div class="bg-light rounded-lg p-4 flex items-center justify-center gap-3 shadow-lg hover:shadow-2xl transition">
      <ion-icon name="person" size="large" class="text-dark2"></ion-icon>
      <span class="font-semibold text-dark2">Perfil</span>
    </div>
    

    <div class="bg-white rounded-[16px] p-4 flex items-center justify-center gap-3 shadow-lg hover:shadow-2xl transition">
      <div class="flex flex-col gap-2">
        <ion-icon name="map" size="large" class="text-dark2"></ion-icon>
        <span class="font-semibold text-dark2">Mapa</span>
      </div>
      
    </div>


    <div class="bg-light rounded-lg p-4 flex items-center justify-center gap-3 shadow-lg hover:shadow-2xl transition">
      <ion-icon name="document-text" size="large" class="text-dark2"></ion-icon>
      <span class="font-semibold text-dark2">Registro de Evidencia</span>
    </div>

 
    <div class="bg-light rounded-lg p-4 flex items-center justify-center gap-3 shadow-lg hover:shadow-2xl transition">
      <ion-icon name="calendar" size="large" class="text-dark2"></ion-icon>
      <span class="font-semibold text-dark2">Eventos</span>
    </div>
  </div>
-->
  
</ion-content>
