<ion-header [translucent]="true" color="cream" class="ion-no-border h-[100px]">
  <ion-toolbar color="cream" class="!pt-[30px] h-[100px]">
    <ion-title mode="md" class="text-dark2 font-semibold text-[20px]">Mensajes</ion-title>
    <ion-buttons slot="end" (click)="closeMenu()">
      <ion-button class="p-2 rounded-full flex items-center bg-white justify-center h-[54px] w-[54px]">
        <ion-icon size="large" name="close" class="text-black"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding">

  <div *ngIf="loading === 0" class="h-full w-full flex items-center justify-center">
    <ion-spinner name="bubbles"></ion-spinner>
    <p>Cargando</p>
  </div>

  <div *ngIf="loading === 1" class="h-full w-full flex items-center justify-center">
    <p class="font-semibold">No cuentas con Mensajes</p>
  </div>

  <div *ngIf="loading === 2">
    <div *ngFor="let item of messages; let i = index">
      <div class="h-full w-full bg-white rounded-[32px] p-[15px] mb-[10px]  shadow-lg hover:shadow-2xl transition">
        <br>
        <div class="flex flex-col gap-[20px]">
          <div class="flex gap-[15px] items-center">
            <div class="h-[15px] w-[15px] bg-[#2dd55b] rounded-full"></div>
            <p class="font-medium">{{ item.title }}</p>
          </div>
          <div>
            <p class="text-gray-800 font-bold">Descripcion:</p>
            <p class="text-gray-800">{{item.description}}</p>
          </div>

          <div class="flex justify-end w-full">
            <ion-chip>
              {{ startFormat(item.date) }}
            </ion-chip>
          </div>
        </div>
        
        
      </div>
    </div>
  </div>

</ion-content>
