/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
// @import "@ionic/angular/css/palettes/dark.system.css";

/*** Tailwind ***/
@tailwind base;
@tailwind components;
@tailwind utilities;

ion-content {
  --background: var(--ion-color-cream);
}


ion-toolbar {
  --background: var(--ion-color-cream);
}

ion-header {
  --background: var(--ion-color-cream);
}

ion-list {
  --background: var(--ion-color-cream);
}

ion-item {
  --background: var(--ion-color-cream);
}

.error-messages {
	color: var(--ion-color-danger);
	font-size: 13px;
	text-align: center;
  margin-bottom: 15px;
}

.error-messages {
  @apply text-red-600 text-sm font-medium text-center;
}

.bottom-end {
  &::part(content) {
    width: 100%;
    height: 350px;
    position: absolute;
    bottom: 0;
  }
}

ion-tab-bar {
 height: 80px;
}



:root {
  --sb-top: 0px; /* default: Android 14− sin huecos */
}


/* No engordes el toolbar */
body.android-15-16 ion-toolbar {
  padding-top: 0 !important;
}

/* 🔽 Mueve SOLO el header con el inset real (8–24px) */
body.android-15-16 ion-header {
  margin-top: var(--sb-top);
}

